/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9ea3ff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9ea3ff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  *:checked:disabled{
      background-color: transparent !important;
  }
body{
    background-color: #F8F8FC;
    box-sizing: border-box;
    overflow-x: hidden !important;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 34px 110px -40px 110px;
    padding: 24px 30px;
    border-radius: 25px;
    position: relative;
    z-index: 12;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.014),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028);
}
@media (max-width: 1366px){
    .main-nav{
        margin:34px 75px -40px 75px;
    }  
}
@media (max-width: 1024px){
    .main-nav{
        margin:34px 25px -40px 25px;
    }  
}
@media (max-width: 768px){
    .main-nav{
        margin:34px 21px -40px 21px;
    }  
}
.main-nav nav ul li{
    display: inline-block;
    font-family: 'nav-fira',monospace;
    font-size: 16px;
}
.main-nav nav ul .nav-item{
    margin-right: 30px;
}
.main-nav nav ul li a{
    transition:color 0.4s;
}
.main-nav nav ul li .nav-item:hover{
    color: #7279FF;
}
.active-nav-li{
    color: #7279FF;
}
.login-button{
    background-color: #7279FF;
    color: white;
    padding: 12px;
    border-radius: 15px;
}
.user{
    vertical-align: middle;
    transform: translateY(-2px);
    width: 15px;
}
.search-ico{
    background-color: #F1F2F4;
    border-radius: 15px;
    padding: 12px;
    margin-left: 10px;
}
.search-ico img{
    vertical-align: middle;
    transform: translateY(-2px);
}
.large-nav{
    display: block;
}
.burger-nav{
    display: none;
    position: relative;
    overflow:hidden;
    height: 40px;
    transition:height 0.5s;
}
.active-nav{
    overflow:visible;
    height: 54px;
}
.burger-nav li{
    display: inline-block;
    vertical-align: middle;
}
.burger-nav li .search-ico{
    display: inline-block;
}
.burger-nav ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -80px;
    margin-top: 10px;
}

.burger-nav .burger {
    display: inline-block;
    width:18px;
    height:18px;
    cursor: pointer;
    text-decoration: none;
  }
  .burger-nav li .login-button{
    width: auto;
    margin-left: 20px;
}
  .burger-nav .burger i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 3px;
    vertical-align: middle;
    color:#252525;
    font:bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent:-55px;
    background: #252525;
    transition:all .2s ease-out;
  }
  .burger-nav .burger i::before, .burger-nav .burger i::after {
    content:'';
    width: 20px;
    height: 3px;
    background: #252525;
    position: absolute;
    left:0;
    transition:all .2s ease-out;
  }
  .burger-nav .burger i::before {
    top: -7px;
  }
  .burger-nav .burger i::after {
    bottom: -7px;
  }
  .burger-nav .burger:hover i::before {
    top: -8px;
  }
  .burger-nav .burger:hover i::after {
    bottom: -8px;
  }
  .burger-nav .burger.active i {
	background: #fff;
}
    .burger-nav .burger.active i::before {
        top:0;
        -webkit-transform: rotateZ(45deg);
           -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
             -o-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
      }
    .burger-nav .burger.active i::after {
        bottom:0;
        -webkit-transform: rotateZ(-45deg);
           -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
             -o-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
      }  
@media (max-width:768px) {
    .large-nav{
        display: none;
    }
    .burger-nav{
        display: block;
    }
}
/* MAIN START*/
main{
    padding:0 20px;
}
.registration{
    background-color: white;
    border-radius: 25px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.014),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028);
    padding:65px 120px;
    
}
.registration h6{
    font-family: 'fira-bold';
    font-size: 12px;
    color: #202631;
}
.registration .main-form{
    text-align: left;
    margin: 0 auto;
    padding: 30px 0 25px 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.registration .main-form label{
    font-size: 16px;
    font-family: 'nav-fira';
    position: relative;
}
.registration .main-form select{
    width: 525px;
    padding: 15px;
    border-width: 1px;
    border-color: #7279FF;
    border-style: solid;
    border-radius: 10px;
    margin-top: 13px;
    margin-bottom: 35px;
    font-family: 'nav-fira';
}
.registration .main-form select:focus{
    border-color:#7279FF;
    border-width: 2px;
    outline:0;
}

.registration .main-form select *{
    font-size: 13px;
    font-family: 'nav-fira';
    color: #7279FF;
    padding: 5px;
}
.registration .main-form select .bg:hover{
    background: #7279FF !important;
    color: #fff;
    border-radius: 7px;
}
.registration .main-form select .bg:checked{
    background: #7279FF !important;
}
  
.registration h1{
    font-size: 55px;
    font-family: 'fira-bold';
    margin-bottom: 40px;
    text-align: center;
    margin-top: 30px;
}
.registration h4{
    font-size: 21px;
    font-family: 'fira-regular',monospace;
    color: #7279FF;
    line-height: 24px;
    margin-bottom: 55px;
    text-align: center;
}
.required{
    color: #E74C3C;
}
.main-input{
    width: 525px;
    padding: 15px;
    border-width: 1px;
    border-color: #7279FF;
    border-style: solid;
    border-radius: 10px;
    margin-top: 13px;
    margin-bottom: 25px;
    transition: all .2s ease-out;
    font-family: 'nav-fira';
    
}
.main-input:focus{
    outline: 0;
}
#position{
    overflow-y: hidden;
}
.rules{
    color: #7279FF;
    text-decoration: underline;
}
#policy,#rules{
    margin-bottom: 25px;
}
#policy,#rules:checked{
    background: #7279FF;
}
.submit{
    text-align: center;
    width: 525px;
    padding: 15px;
    background-color: #7279FF;
    color: white;
    border-radius: 10px;
    margin-top: 13px;
    margin-bottom: 35px;
    transition: all .2s ease-out;
    font-family: 'nav-fira';
    cursor: pointer;
}
.submit:focus{
    box-shadow: 0;
}
.orto{
    width: 525px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 120px;
}
.or{
    display: flex;
    justify-content: space-between;
    font-family: 'fira-bold';
    color: #7279FF;
    font-size: 13px;
    cursor: default;
    margin-bottom: 55px;
}
.or .an{
    color: black;
    padding-top: 0;
}
.fb{
    background-color:#39579A ;
    margin-bottom: 20px !important;
    position: relative;
}
.gm{
    background-color: #D54B3D;
    margin-top: 0;
    position: relative;
}
.lefto{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.alredy{
    font-size: 16px;
    font-family: 'fira-regular';
    text-align: center;
    color: #202631;
}
.alredy a{
    color: #7279FF;
    text-decoration: underline;
}
/* FOOTER */
footer{
    text-align: right;
    color: #202631;
    font-family: 'fira-regular';
    padding-top: 120px;
    padding-right: 140px;
}
.footer-top p{
    display: inline-block;
    font-size: 16px;
    border-right:2px solid rgba(32, 38, 49, 0.3);
    padding: 3px 0;
    padding-right: 30px;
}
.footer-top .socials{
    display: inline-block;
    margin-left: 30px;
}
.footer-top .socials .fb-f{
    margin-right: 20px;
}

.footer-bottom p{
    display: inline-block;
    padding: 3px 30px;
    border-right: 2px solid rgba(32, 38, 49, 0.3);
}
.footer-bottom p a{
    color: #202631;
}
.footer-bottom .last-child{
    border: 0;
    padding: 0;
    padding-left: 30px;
}
.footer-bottom{
    margin: 30px 0;
}
.large{
    display: block;
}
.small{
    display: none;
    justify-content: flex-end;
}
.smaller{
    display: none;
    justify-content: flex-start;
}
.smallest{
    display: none;
}
.smallest .smallest-bottom{
    margin-top: 10px;
}
.smallest .smallest-bottom p{
    border: 0;
    display: block;
    margin-top: 5px;
}
.smaller .footer-bottom :first-child{
    padding-left: 0;
}
.smaller .footer-bottom :last-child{
    display: inline-block;
}
.small .small-left {
    border-right: 2px solid rgba(32, 38, 49, 0.3);
    border-left: 2px solid rgba(32, 38, 49, 0.3);
    padding: 70px 100px;
}
.small .small-left :first-child{
    margin-bottom:35px ;
}
.small .small-right .email-info{
    display: inline-block;
    border-right: 2px solid rgba(32, 38, 49, 0.3);
    padding-right:30px ;
}
.small .small-right{
    padding: 70px 100px;
    padding-right: 0;
}
.small .small-right .last-child{
    margin-top: 35px;
}
.small .small-right .socials{
    display: inline-block;
    margin-left: 30px;
}
.small .small-right .socials .fb-f{
    margin-right: 20px;
}
@media (max-width:1366px){
    footer{
        padding: 30px 105px;
    }
    .large{
        display: none;
    }
    .small{
        display: flex;
    }
}
@media (max-width:1024px){
    footer{
        padding: 30px 55px;
    }
    .small .small-left{
        padding: 40px 30px;
    }
    .small .small-right{
        padding: 40px 30px;
    }
    main{
        padding: 0;
    }
    .registration{
        padding: 65px 80px;
    }
    .registration h1{
        font-size: 34px;
        margin-bottom:34px ;
    }
}
@media (max-width:768px){
    .small{
        display: none;
    }
    .smaller{
        display: block;
    }
    footer{
        text-align: left;
        font-size: 14px;
        padding: 30px 40px;
    }

}
@media (max-width:750px){
    .smaller{
        display: none;
    }
    .smallest{
        display: block;
    }
    footer{
        text-align: left;
        font-size: 14px;
        padding: 30px 15px;
    }
}       
/* UP */
.b-contain *, .b-contain *::before, .b-contain *::after {
	box-sizing: content-box !important;
}

.b-contain input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.b-contain span {
	line-height: 1.54;
	font-size: 1rem;
	font-family: inherit;
}

.b-contain {
	display: table;
	position: relative;
	padding-left: 1.8rem;
	cursor: pointer;
	margin-bottom: 25px;
}
.b-contain input[type="checkbox"] ~ .b-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.25rem;
	width: 1.25rem;
	background: rgba(229, 227, 240, 1);
	transition: background 250ms;
	border: 1px solid rgba(114, 121, 255, 1);
	border-radius: 0.125rem;
}
.b-contain input[type="checkbox"] ~ .b-input::after {
	content: '';
	position: absolute;
	display: none;
	left: .45rem;
	top: .18rem;
	width: 0.36rem;
	height: .6rem;
	border: solid rgba(255, 255, 255, 1);
	border-width: 0 2px 2px 0;
	transition: background 250ms;
	transform: rotate(45deg);
}
.b-contain input:disabled ~ .b-input::after {
	border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
	display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
	background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
	box-shadow: 0 0 0 2px #7279FF;
}

.b-contain input:checked ~ .b-input {
	background: rgba(114, 121, 255, 1);
	border-color: #7279FF;
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
	background: rgba(241, 245, 248, 1);
	border-color: rgba(184, 194, 204, 1);
	opacity: 0.6;
	cursor: not-allowed;
}
.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
	background: #7279FF;
	border-color: #7279FF;
}

.b-contain .b-input::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 3rem;
	height: 3rem;
	margin-left: -0.85rem;
	margin-top: -0.85rem;
	background: #7279FF;
	border-radius: 2rem;
	opacity: .6;
	z-index: 99999;
	transform: scale(0);
}

@keyframes b-ripple {
	0% {
		transform: scale(0);
	}

	20% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
  	}
}

@keyframes b-ripple-duplicate {
	0% {
		transform: scale(0);
	}


    30% {
		transform: scale(1);
	}

	60% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
  	}
}

.b-contain input + .b-input::before {
	animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
	animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
	visibility: hidden;
}

.b-contain input:focus + .b-input::before {
	visibility: visible;
}

.b-contain:first-child .b-input::before {
	visibility: hidden;
}

@media (max-width:768px) {
    .registration .main-form select{
        width: 424px;
    }
    .registration .main-form{
        padding-bottom: 0;
    }
    .main-input,.submit,button,.or,.alredy,.orto{
        width: 424px;
    }
    .orto{
        margin-bottom: 90px;
    }
    .or{
        margin-bottom: 25px;
    }
    .dissapear{
        display: none;
    }
    .registration h4{
        margin-bottom: 14px;
    }
  
}
@media (max-width:468px) {
    .registration .main-form select{
        width: 100%;
    }
    .main-input,.submit,button,.or,.alredy,.orto{
        width: 100%;
    }
    .burger-nav ul li a{
        font-size: 12px;
    }
    .burger-nav ul{
        left: -40px;
    }
    .registration h1{
        font-size: 21px;
        margin-bottom:24px ;
    }
    .registration h4{
        font-size: 16px;
        margin-bottom: 14px;
    }
    .registration{
        padding:30px 15px ;
    }
    .main-nav{
        margin :0;
        margin-bottom: -20px;
    }
    .orto{
        margin-bottom: 60px;
    }
    .burger-nav li .login-button{

        margin-left: 10px;
    }
}
@media (max-width:348px) {
    .registration .main-form select{
        width: 300px;
    }
    .main-input,.submit,button,.or,.alredy,.orto{
        width: 300px;
    }
}
@media (max-width:320px) {
    .registration .main-form select{
        width: 290px;
    }
    .main-input,.submit,button,.or,.alredy,.orto{
        width: 290px;
    }
}
.disabled-selected{
    border-bottom: 1px solid rgba(32, 38, 49, 0.3);
    color: rgba(112, 112, 112, 0.3) !important;
}
option:disabled {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.3);
}
option:checked{
    background-color: transparent !important;
}
select{
    position: relative;
}
.arrow{
    position: absolute;
    top: 50px;
    transform: translateX(100%);
    right: 38px ;
}
.arrow2{
    position: absolute;
    top: 50px;
    transform: translateX(100%);
    right: 38px ;
}
select{
    background: transparent;
    -webkit-appearance: none;
}
.active-arrow{
    display: none;
}
#correct-region,#correct-position,#correct-email,#correct-name,#correct-surname,#correct-pwd1,#correct-pwd2{
    display: none;
    font-size: 13px;
    line-height: 17px;
    font-family: 'fira-regular';
    margin-top: -20px;
    color:#E74C3C;
}
.littledown{
    margin-top: -15px !important;
}
.active-label{
    color:#E74C3C;
}
.active-select{
    border-color:#E74C3C !important;
    color: #E74C3C;
}
#position{
    margin-bottom: 25px;
}
#fill-input{
    display: none;
    font-size: 13px;
    color: #E74C3C;
    font-family: 'fira-regular';
    text-align: center;
    margin-bottom: 30px;
}
#popup-bg{
    display: none;
    background-color:rgba(114, 132, 255, 0.8) ;
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#popup{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#popup #content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:white ;
    border-radius: 16px;
    padding: 35px 120px;
    background-color: white;
}
#popup #content h1{
    font-family: 'fira-bold';
    font-size: 34px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 55px;
}
#popup #content ul{
    width: 400px;
}
#popup #content ul li{
    font-family: 'nav-fira';
    color: rgba(32, 38, 49, 0.6);
    padding: 10px 0;
}
#popup #content ul li span{
    color:#202631;
    margin-left: 10px;
}
@media (max-width:700px){
    #popup #content {
        padding: 35px 20px;
    }
    #popup #content ul{
        width: 260px;
    }
}
.close{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 9991239;
    top: 18%;
    border-radius: 8px;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
    color: black;
    border: 1px solid rgba(114, 132, 255, 0.8) ;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.014),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028);
}
