@font-face {
    font-family: 'nav-fira';
    src: url('../fonts/FiraGO_TTF_1001/Roman/FiraGO-Medium.ttf');
    src: url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Medium.woff2') format('woff2'),
        url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira-bold';
    src: url('../fonts/FiraGO_TTF_1001/Roman/FiraGO-Bold.ttf');
    src: url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Bold.eot') format('embedded-opentype'),
        url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Bold.woff2') format('woff2'),
        url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira-regular';
    src: url('../fonts/FiraGO_TTF_1001/Roman/FiraGO-Regular.ttf');
    src: url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Regular.eot') format('embedded-opentype'),
        url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Regular.woff2') format('woff2'),
        url('../fonts/FiraGO_WEB_1001/Roman/FiraGO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}